/*.sign-in-icono {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 3.5rem;
    color: #6C3483;
}*/

.sign-in-logo-banco {
    width: 33%;
    animation: latir 60s infinite;
}

@keyframes latir {
    90% {
        transform: translateX(0);
    }

    92% {
        transform: translateX(30px);
    }

    94% {
        transform: translateX(-30px);
    }

    96% {
        transform: scale(1.05);
    }

    98% {
        transform: scale(0.95);
    }
}

.sign-in-container {
    width: 25%;
}

.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.sign-in-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-form-inputspace {
    margin: 10% 0 10% 0;
}

.sign-in-form-input {
    background-color: #F2F4F4;
}


.sign-in-form-button {
    width: 100%;
    margin: 8% 0 6% 0;
    border: none;
    border-radius: 10px;
    padding: 4% 0;
    background-color: #6C3483;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 120%;
    font-weight: 500;
    cursor: pointer;
}

.sign-in-form-button:hover {
    background-color: #7f6cdf;
    transition: 1s;
}

.sign-redes {
    margin: 6% 0;
    padding-left: 22%;
    display: flex;
    width: 100%;
}

#sign-redes-div-instagram {
    width: 40%;
}

#sign-redes-div-facebook {
    width: 40%;
}

#sign-redes-div-twitter {
    width: 40%;
}

.sign-in-regis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-regis p {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-bottom: 5%;
}

.sign-in-regis button {
    border: none;
    background: none;
    color: #6C3483;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 100%;
    cursor: pointer;
}

.sign-in-regis button:hover {
    color: #7f6cdf;
    transition: 1s;
}