.principal {
    padding-top: 5.5rem;
}

.principal-nav {
    background-color: var(--color-cuarto);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 3%;
    position: fixed;
    margin-top: -5.5rem;
    z-index: 50;
}

.principal-nav-logo {
    width: 5%;
}

.principal-nav-lista {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal-nav-lista button {
    background: none;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-terceario);
    cursor: pointer;
}

.principal-nav-lista button:hover {
    text-decoration: underline;
}

.principal-nav-user {
    width: 10%;
}

.principal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principal-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0 0 7%;
}

.principal-container-1-info {
    width: 35em;
    height: 13em;
    background-color: var(--color-terceario);
    border-radius: 1rem;
    box-shadow: inset 0 0 .5em #000;
}

.principal-container-1-info-nombre {
    font-family: 'Varela Round', sans-serif;
    padding: 2em 0 0 2em;
    font-size: 1.2em;
}

.principal-container-1-info-titulo {
    font-family: 'Varela Round', sans-serif;
    text-decoration: underline;
    font-size: 1.3em;
    padding: 1.4em 0 0 1.8em;
}

.principal-container-1-info-plata {
    padding: 2em 0 0 2.3em;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.principal-container-1-info-plata-signo {
    color: var(--color-principal);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7em;
}

.principal-container-1-info-plata-numeros {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7em;
}

.principal-container-1-info-plata-eye {
    color: var(--color-principal);
    font-size: 1.6em;
    cursor: pointer;
}

.principal-container-1 img {
    width: 90%;
    margin: 2.5em 0 0 1.5em;
}

.principal-container-1-marca {
    margin: 5rem 0 0 9rem;
    z-index: 100;
    font-family: 'Varela Round', sans-serif;
    font-size: .7rem;
    color: #7F8C8D;
}

.principal-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.principal-container-2-div {
    position: absolute;
    top: 8em;
    left: 50em;
    width: 35em;
    height: 38.5em;
    background-color: var(--color-terceario);
    border-radius: 1rem;
    box-shadow: inset 0 0 .5em #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.principal-container-2-botones {
    display: flex;
    justify-content: space-between;
    margin: 0 6% 3% 6%;
}

.principal-container-2-botones-vermas {
    background-color: var(--color-principal);
    border: none;
    border-radius: .5em;
    padding: 2% 4%;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    transition: 1s;
    cursor: pointer;
}

.principal-container-2-botones-vermas:hover {
    background-color: var(--color-secundario);
}

.principal-container-2-botones-plus-button {
    border: none;
    background-color: var(--color-terceario);
    width: 10%;
    cursor: pointer;
}

.principal-container-2-botones-plus-img {
    width: 3em;
}